body {
    margin: 30px 40px 40px;
    width: 50%;
    background-color: #e6e6e6;
    font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;

    background-image: url(/images/wallpaper.png);
    /* background-repeat: no-repeat; */
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color:#000;
}

img.button {
    cursor: pointer;
}

div.even {
    background: red;
}

div.odd {
    background: green;
}

#spinner {
    margin-top: 100px;
    margin-left: 200px;
}

