<div id="container">
    <% for post in @posts %>
    <div id="<%=h post.id %>">
        <div class="rounded">
            <blockquote>
                <p><%=h post.content %></p>
            </blockquote>
        </div>
        <cite class="rounded">
            <strong><%=h post.name %></strong>
        </cite>
        <div style="float: right">
            <img class="button view" src="/images/view.png" />
            <img class="button edit" src="/images/edit.png" />
            <img class="button delete" src="/images/remove.png" />
        </div>
    </div>
    <% end %>
</div>

<br />

<%= link_to 'New post', new_post_path %>
