<img title="Make a new post" class="button new" src="/images/new.png" />
<br />
<br />
<div id="dialog" style="display: none">
</div>
<img id="spinner" src="/images/loader.gif" />
<div id="container">
</div>
